.chart-card{
    position: relative;
  
    display: inline-block;
    padding-right: 15%;
}

canvas{
    width: 500px !important; 
    height: 150px !important;
}
.cont{
   margin-top: 2%;
   margin-left: 0.8%;
   margin-right: 1%;
}

