 <!--chart-->


 

 
<div class="cont">
    <mat-card class="example-card">
        <mat-card-header>
        <h5 class="card-title">Chart avec Chart.js</h5>
        </mat-card-header>
         <!--chart end-->
         <mat-card-content>
      <div class="chart-card">
       
        <h2>Bar Chart</h2>
      <canvas id="barchart" ></canvas>
    </div>
     
    <div class="chart-card">
    
      <h2>Pie chart </h2>
      <canvas id="piechart" >  </canvas>
    
    </div>
    </mat-card-content>
     </mat-card>
</div>
    