.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  h1{
    color:#454545;
  }
  .color1{
    background-color: #FFE6C7;
    color:#454545;
  }
  .color2{
    background-color: #FFA559;
    color:#454545;
  }