<!--
    <div class="col-md-6 offset-md-3">
    <h3> Update User </h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label> id</label>
            <input type="text" class ="form-control" id = "id"
                [(ngModel)] = "user.id" name = "id">
        </div>
    
        <div class="form-group">
            <label> First Name</label>
            <input type="text" class ="form-control" id = "firstName"
                [(ngModel)] = "user.firstName" name = "firstName">
                <label> Last Name</label>
                <input type="text" class ="form-control" id = "lastName"
                    [(ngModel)] = "user.lastName" name = "lastName">
        </div>
    
        <div class="form-group">
         
        </div>
    
        <div class="form-group">
            <label> Email</label>
            <input type="text" class ="form-control" id = "email"
                [(ngModel)] = "user.email" name = "email">
        </div>
        <div class="form-group">
            <label> password</label>
            <input type="password" class ="form-control" id = "password"
                [(ngModel)] = "user.password" name = "password">
        </div>

        <div class="form-group">
            <label> phone</label>
            <input type="tel" class ="form-control" id = "phone"
                [(ngModel)] = "user.phone" name = "phone">
        </div>
    
        <button class = "btn btn-danger css" type ="submit">Submit</button>
    
    </form>
    </div> 
-->

    <!--NOTE update user with angular materials-->
    <div>
        <div class="row">
           <!--
             <div class="col-4">
                <mat-card>
                    <mat-card-content>Profile user</mat-card-content>
                  </mat-card>

            </div>
           -->
            <div class="col-8">
                <mat-card>
                    <mat-card-header class="edit"><h1>Edit Profile</h1></mat-card-header>
                    <mat-card-content>
                        <!--form-->
                        <form (ngSubmit) = "onSubmit()">
                            <!--
                                <div class="form-group">
                                <label> id</label>
                                <input type="text" class ="form-control" id = "id" 
                                    [(ngModel)] = "user.id" name = "id">
                            </div>
                            -->
                        
                            <div class="form-group">
                                <mat-form-field class="example">
                                    <mat-label>First Name</mat-label>
                                    <input matInput id = "firstName" 
                                    [(ngModel)] = "user.firstName" name = "firstName">
                                  </mat-form-field>
                                  <mat-form-field class="example">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput id = "lastName"
                                    [(ngModel)] = "user.lastName" name = "lastName">
                                  </mat-form-field>
                            
                            </div>
                        
                            <div class="form-group">
                                
                            
                         
                            </div>
                        
                            <div class="form-group">
                                <mat-form-field class="example2">
                                    <mat-label>Enter your email</mat-label>

                                    <input matInput placeholder="pat@example.com"  id = "email"
                                   [(ngModel)] = "user.email" name = "email"  required>
                                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                                
                            </div>
                            
                               
                                  
                                
                              

                            <div class="form-group">
                                <mat-form-field class="example2">
                                    <mat-label>Enter your password</mat-label>
                                    <input matInput [type]="hide ? 'password' : 'text'"  id = "password"
                                    name = "password"  [(ngModel)] = "user.password" >
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                      </button>
                                </mat-form-field>
                              
                            </div>
                            
                               
                             
                    
                            <div class="form-group">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Telephone</mat-label>
                                    <span matPrefix>+216 &nbsp;</span>
                                 <input type="tel" matInput  [(ngModel)] = "user.phone" id = "phone"
                                name = "phone">
                                <mat-icon matSuffix>mode_edit</mat-icon> 
                                </mat-form-field>
                            </div>

                            
                         <div >
                            <button class="classe" extended mat-fab>Warn</button>
                            <!--<button class = "btn btn-danger css" type ="submit">Submit</button>-->
                         </div>
                         
                        </form>



                        <!--form end-->

                    </mat-card-content>
                  </mat-card>

            </div>
        </div>
    </div>




    <!--NOTE end update-->