h3{
    background-color: rgba(208, 56, 14, 0.94);
    color: white;
    margin-top: 12px;
}
form{
    color:rgba(208, 56, 14, 0.94);
}

.css{
    text-decoration: overline;
}
.classe{
   padding-left: 200px;
   margin-left: 50px;
   margin-right: 20px;
   width: 90%;
  background-color: #FFA559;
   border:solid 0px;
   text-align: center;
   color:#454545;
}
label{
    width: 100%;
}
.example-full-width {
   margin-left: 40px;
   margin-right: 10px;
   padding-left: 10px;
   width: 100%;
   
   width: 91%;
   color:mediumorchid;
}
.example{
    margin-left:40px;
    width: 40%;
}
.example2{
    margin-left:40px;
    width: 90%;
}
.edit{
    
    color: #454545;
    text-align: center;

}