h1{
    text-align: center;
}
.color{
    background-color: #FF6000;
    margin-left: 40%;
}
.col{
    background-color: #FFE6C7;
}
input:focus{
    outline:0;
    border:solid 4px #FFE6C7;
    
    box-shadow: 2px 2px 4px 3px #FFE6C7 ;
    }

