
<div class="login">
  <div class="col-md-12">
    <div class="card card-container">
      <img src="assets\icons\1024.png" alt="Logo" class="logo">
      <h2>Connectez-vous à votre compte</h2>
     
      <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-group">
          <label for="username">
            <i class="fa fa-envelope"></i> Email
          </label>
          <input
            type="text"
            class="form-control"
            name="username"
            [(ngModel)]="form.email"
            required
            #email="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && email.errors }"
            placeholder="e@gmail.com"
          />
          <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
            L'email est requis !
          </div>
        </div>
        <div class="form-group">
          <label for="password">
            <i class="fa fa-lock"></i> Mot de passe
          </label>
          <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
            placeholder="******"
          />
          <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="password.errors['required']">Le mot de passe est requis</div>
            <div *ngIf="password.errors['minlength']">
              Le mot de passe doit contenir au moins 6 caractères
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="bouton btn-lg">Connexion</button>
          <h4>  Nouveau sur Venta?<a routerLink="/register"> Créez un compte.</a></h4>
          <h4> Cliquez ici pour revenir à la page d'accueil : <a routerLink="/home">Accueil</a></h4>
        
        </div>
        <div class="form-group">
          <div
            *ngIf="f.submitted && isLoginFailed"
            class="alert alert-danger"
            role="alert"
          >
            Échec de la connexion : {{ errorMessage }}
          </div>
        </div>
      </form>
   
      
      
      <div class="alert alert-danger" *ngIf="isLoggedIn">
        Connexion réussie
      </div>
    </div>
  </div>
</div>

