h1{
    text-align: center;
}
.clorrr{
    background-color: #FF6000;
    margin-left: 40%;
}
.class{
    background-color: #FFE6C7;
    height: 100%;
}

input:focus{
    outline:0;
    border:solid 4px #FFE6C7;
    
    box-shadow: 2px 2px 4px 3px #FFE6C7;
    }