h1{
    color: #FF6000;
    text-align: center;
}
.cont{
    padding-top: 20px;
}
.class1{
    margin-top: 5vh;
    margin-left:2%;
   

}
.card1{
    float: left;
    margin-left: 3%;
}
.example-card {
    max-width: 400px;
  }
.color{
   background-color: #FF6000;
}
hr{
    color:bisque;
}