/* Side Bar */
.class{
  color: #454545;
}

img {
    max-width: 100%;
  }
  
  .product-info .connect {
    margin: 15px 0 5px 0;
    
   

  }
  
  .product-info .connect button {
    margin-right: 15px;
  }
  .color{
    background-color: #FF6000;
    width: 200px;
    margin-left: 55%;
  }
  .color2{
    background-color: #FFE6C7;
  }