/* Side Bar */
.class{
  color: #454545;
}

img {
    max-width: 100%;
  }
  
  .product-info .connect {
    margin: 15px 0 5px 0;
    
   

  }
  
  .product-info .connect button {
    margin-right: 15px;
  }
  .color{
    background-color: #FF6000;
    width: 200px;
    margin-left: 55%;
  }
  .color2{
    background-color: #FFE6C7;
  }
  input:focus{
    outline:0;
    border:solid 4px #FFE6C7;
    
    box-shadow: 2px 2px 4px 3px #FFE6C7;
    }