h1{
    background-color: #FFE6C7;
    color: #454545;
    text-align: center;
    margin-bottom: auto;
}
.commande{
    width: 100%;
    padding-top:100%;
    //background-color: rgba(227, 226, 234, 0.59);
    
    
  
}
.color{
    background-color: #FF6000;
}
.color2{
    background-color: #FFA559;
}
.container-fluid{
  
    height: 100%;
}