
input:focus{
    outline:0;
    border:solid 4px #FFE6C7;
    
    box-shadow: 2px 2px 4px 3px #FFE6C7;
    }
    .bouton{
      background-color: #FFA559;
      border:solid 4px #FFE6C7;
       color:#454545;
    box-shadow: 2px 2px 4px 3px #FFE6C7;
    }
    .warnn{background-color: #FFA559;}
    h1{
        text-align: center;
    }