
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <p></p>
    <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
    <div class="vend">
     
      <img class="image" [src]="'data:image/jpeg;base64,'+page2.imageCouverture.bytes">
      <div class="profile-image"><img  [src]="'data:image/jpeg;base64,'+page2.imageProfile.bytes"></div> 
    </div>
    <h1>{{page2.title}}</h1>
    <p><mat-icon>location_on</mat-icon>{{page2.address}}</p>
    <p><span class="material-icons">
      mail
      </span>
      {{page2.email}}</p>

    <p><span class="material-icons">
      phone
      </span>{{page2.phone}}</p>
    <p><span class="material-icons">
      post_add
      </span>{{page2.postalCode}}</p>
    <p><span class="material-icons">
      local_activity
      </span>{{page2.activity}}</p>
  </mat-drawer>

  <div class="example-sidenav-content">
   
      <p>
        <mat-toolbar class="nav">
         <button mat-icon-button class="example-icon"  (click)="drawer.toggle()"  aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <a class="nav-link" routerLink="addP/{{page2.id}}">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <span class="material-icons">
            post_add
            </span>
       </button>
        </a>
        <a class="nav-link" routerLink="OrderCl/{{page2.id}}">
          <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <span  class="material-icons">
          list_alt
          </span>
          </button>
        </a>

        <button [matMenuTriggerFor]="menu" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <span class="material-icons">
              notifications
              </span></button>
              
                
<mat-menu #menu="matMenu" >
  <div  *ngFor="let n of notif">
    <a class="nav-link" routerLink="addP/{{n.idCaisse}}">
  <button mat-menu-item >{{n.title}}</button></a>
  <button mat-menu-item>{{n.body}}</button>
<hr></div> 
</mat-menu>
 

       <a  (click)="logout()">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
       <mat-icon>logout</mat-icon>
       </button>
       </a>
      </mat-toolbar>
      </p>


      <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
           
                    <div class="col-sm-6 col-xl-3">
                        <mat-card >
                            <mat-card-content>
                        <div class=" rounded d-flex align-items-center justify-content-between p-4">
                          <span class="material-icons fa-3x text">
                            real_estate_agent
                            </span>
                            
                            <div class="ms-3">
                                <p class="mb-2">Today Sale</p>
                                <h6 class="mb-0">${{todaySales}}</h6>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                    </div>
               
           
            <div class="col-sm-6 col-xl-3">
                <mat-card >
                    <mat-card-content>
                <div class=" rounded d-flex align-items-center justify-content-between p-4">
                  <span class="material-icons fa-3x text">
                    point_of_sale
                    </span>
                    <div class="ms-3">
                        <p class="mb-2">Total Sale</p>
                        <h6 class="mb-0">${{totalSales}}</h6>
                    </div>
                </div>
                </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-xl-3">
                <mat-card >
                    <mat-card-content>
                <div class="rounded d-flex align-items-center justify-content-between p-4">
                  <span class="material-icons fa-3x text">
                    payment
                    </span>
                    <div class="ms-3">
                        <p class="mb-2">Today Revenue</p>
                        <h6 class="mb-0">${{todayRevenueV}}</h6>
                    </div>
                </div>
                </mat-card-content>
                </mat-card>
            </div>
            <div class="col-sm-6 col-xl-3">
                <mat-card >
                    <mat-card-content>
                <div class=" rounded d-flex align-items-center justify-content-between p-4">
                    
                    <span class="material-icons fa-3x text">
                      credit_card
                      </span>
                    <div class="ms-3">
                        <p class="mb-2">Total Revenue</p>
                        <h6 class="mb-0">${{totalRV}}</h6>
                    </div>
                </div>
                </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
<div>
 <!--NOTE courebe-->
 <div class="cont">
  <mat-card class="example-card">
      <mat-card-header>
      <h5 class="card-title">statastique Derniere somaine</h5>
      </mat-card-header>
       <!--chart end-->
       <mat-card-content>
    <div class="chart-card">
     
      <h2>Bar Chart</h2>
    <canvas id="barchart" ></canvas>
  </div>
   
  <div class="chart-card">
  
    <h2>Pie chart </h2>
    <canvas id="piechart" >  </canvas>
  
  </div>
  </mat-card-content>
   </mat-card>
</div>
 <!--ENDNote-->
 <div class="cont">
  <mat-card class="example-card">
      <mat-card-header>
      <h5 class="card-title">statastique Derniere mois</h5>
      </mat-card-header>
       <!--chart end-->
       <mat-card-content>
    <div class="chart-card">
     
      <h2>Bar Chart</h2>
    <canvas id="barchart2" ></canvas>
  </div>
   
  <div class="chart-card">
  
    <h2>Pie chart </h2>
    <canvas id="piechart2" >  </canvas>
  
  </div>
  </mat-card-content>
   </mat-card>
</div>
</div>


<!--NOTE
  <section class="class">
  <mat-card>
    <mat-card-content>
  <div class="card" style="width: 18rem;" *ngFor="let p of  article">
    <img [src]="'data:image/jpeg;base64,'+p.image.bytes">
    <div class="card-body">
      <p>Name:{{p.nom}}</p>
      <p>Pix:{{p.prix}}</p>
      <p>Stock:{{p.nbstock}}</p>
     
      <a class="btn btn-danger" routerLink="DetailArt/{{p.id}}">Details</a>
      <a  class="btn btn-danger" (click)="supprimer(p.id)">supprimer</a>
      <a class="btn btn-success" routerLink="UpdateArticle/{{p.id}}">Update</a>
    </div>
  </div>
   </mat-card-content>
   </mat-card>
</section>

-->
 <!-- NOTE card list-->

 <div class="cards-list" *ngFor="let p of  article">
  
  <!-- NOTE card -->



  <div class="card">
    
    <a href="" class="icons"><i class="fa-regular fa-eye"></i></a>
    <a href="" class="icons"><i class="fa-solid fa-heart"></i></a>
    <img [src]="'data:image/jpeg;base64,'+p.image.bytes">
    <h2>{{p.nom}}</h2>
    <h2>Stock:{{p.nbstock}}</h2>
    <div class="rating">
      <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i> <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
    </div>
    <div class="card-footer">
      <p class="price"><span class="dol">$</span>{{p.prix}}</p>
      <a class="btn c1" routerLink="DetailArt/{{p.id}}"><span class="material-icons">
        info
        </span></a>
      <a  class="btn c2" (click)="supprimer(p.id)"><span class="material-icons">
        delete
        </span></a>
      <a class="btn c3" routerLink="UpdateArticle/{{p.id}}"><span class="material-icons">
        create
        </span></a>
    </div>
  </div>
 </div>
  </div>

</mat-drawer-container>

<!--
    <div>
  <h2>Page Details</h2>
  <div class="container"><img class="image" [src]="'data:image/jpeg;base64,'+page2.imageProfile.bytes"></div>
  <div class="container relative"><img  [src]="'data:image/jpeg;base64,'+page2.imageCouverture.bytes" class="avatar" (click)="click()"><i class="fa-solid fa-camera" style="color: #ab0af5;"></i></div>
  <input  *ngIf="b"type="file" class="form-control" id="image"  (change)="onProfilImageSelected($event)" name="image"><button *ngIf="b "(click)="changePhoto(page2.id)">Change</button>
  <p>title:{{page2.title}}</p>
  <p>adresse:{{page2.address}}</p>
  <p>email:{{page2.email}}</p>
  <p>city:{{page2.city}}</p>
  <p>phone:{{page2.phone}}</p>
  <p>postalCode:{{page2.postalCode}}</p>
  <p> activity{{page2.activity}}</p>


  <h2>Liste du articles</h2>

  <section class="class">
    <div class="card" style="width: 18rem;" *ngFor="let p of  article">
      <img [src]="'data:image/jpeg;base64,'+p.image.bytes">
      <div class="card-body">
        <p>Name:{{p.nom}}</p>
        <p>Pix:{{p.prix}}</p>
        <p>Stock:{{p.nbstock}}</p>
       
        <a class="btn btn-danger" routerLink="DetailArt/{{p.id}}">Details</a>
        <a  class="btn btn-danger" (click)="supprimer(p.id)">supprimer</a>
        <a class="btn btn-success" routerLink="UpdateArticle/{{p.id}}">Update</a>
      </div>
    </div>
     
  </section>
 
<button class="btn btn-secondary">  <a class="nav-link" routerLink="addP">Add Produit</a></button>
</div>

-->
