<p>
  <mat-toolbar class="nav head">
   <button mat-icon-button class="example-icon"    aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Profile</span>
  <span class="example-spacer"></span>
  
   <a routerLink="update/{{user.id}}">
    <button mat-icon-button class="example-icon" aria-label="">
      <mat-icon>edit</mat-icon>

  </button></a>
  <a  routerLink="vendor">
    
    <button mat-icon-button class="example-icon" aria-label="">
      <span class="material-icons">
        add_box
        </span>

  </button></a>
  <a routerLink="myPage/{{user.id}}">
    
    <button mat-icon-button class="example-icon" aria-label="">
      <span class="material-icons">
        list
        </span>

  </button></a>
  <a class="nav-link" routerLink="OrderUser/{{user.id}}">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
  <span  class="material-icons">
    list_alt
    </span>
    </button>
  </a>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
 <a  (click)="logout()">
 <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
<mat-icon>logout</mat-icon>
</button>
</a>
</mat-toolbar>
</p>

 <div class="row">
  <div class="col-4">
    <mat-card class="crd1">
      <mat-card-header>   
        <!--NOTE  <img  [src]="'data:image/jpeg;base64,'+user.imageProfile.bytes" class="avatar"  >
        -->
      </mat-card-header>
      <mat-card-content><h2>{{user.email}}</h2>
        <h1>Welcome {{subString}}</h1>
        <h2> Name:{{user.firstName}}</h2>
        <h2>phone:{{user.phone}}</h2></mat-card-content>
        <button mat-fab extended class="warnn">
          <mat-icon>favorite</mat-icon>
          <a class="nav-link" routerLink="vendor">Create page</a>
        </button>
        <button mat-fab extended class="colorrr">
          <mat-icon>favorite</mat-icon>
          <a class="nav-link" routerLink="livreur">Partner</a>
        </button>
    </mat-card>
  </div>
  <div class="col-8">
    <mat-card>
      <mat-card-content>
        <div class="container">
          <router-outlet></router-outlet>
         
         </div>
      </mat-card-content>
      </mat-card>

  </div>
 </div>
  
