.btn2{
    background-color: #7149C6;

}
.div{
    margin: top 0;;
   text-align: center;
}

.head{
    background:#FFDEB9;

    width:100%
  }
  .example-spacer {
    flex: 1 1 auto;
  }
  .crd1{
    padding-top: 20px;
    margin-left: 30px;
    margin-right: 20px;
    text-align: center;
  }
  .colorrr{
    background:#FFDEB9;
  }
 
  mat-icon.mat-card-avatar {
 
    font-size: 40px;
    position: center;
  }
  .avatar {
    width: 150px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid #ccc;
    
    margin: auto;
  }
  .warnn{
    background-color: #FFA559;
  }
  a{
    color: #454545;
  }
  p{
    color:#454545
  }