h1{
    text-align: center;
    color:#FF6000;
}
.alert{

    background-color: #FFE6C7;
    margin-top: 50px;
    margin-left: 10px;
  }
  .exp:focus{
    outline:0;
    border:solid 4px #FFE6C7;
    
    box-shadow: 2px 2px 4px 3px #FFE6C7;}

    .btn{background-color: #FF6000;
        margin-left: 40%;}